[2021-07-23 23:29] carolin31 commented on #412
Hello Jakub,

thank you very much for your quick reply! That solved the problem and I was able to built the container.

However, when I entered the container and tried to open Freeview I got the following error:
<img width="1431" alt="Screen Shot 2021-07-23 at 4 26 28 PM" src="https://user-images.githubusercontent.com/41706947/126849972-5e6e3fa4-bd43-4ecd-bd8c-c684d44ce942.png">

Sounds like some

[2021-07-24 02:41] kaczmarj commented on #413
thanks @akemisetti - it is possible to add a new template. i have a pull request that makes this much easier.

@djarecka - do you think #378 looks ok to merge? once that's in, it will be much easier to add templates. that was part of my motivation in making that pr.

[2021-07-24 15:57] poldrack opened #414 "fsl 6.0.3 install failing"
Using the following command on Mac OS 10.15.7 with Docker version 20.10.6:

[code]

I get the following error:

[code]

[2021-07-26 01:28] stebo85 commented on #412
Dear Carolin,

GUI applications are a bit tricky and you need to add addititonal libraries to work.

For apt based distribtuions you need in addition:
libqt5widgets5 libqt5x11extras5 libglu1-mesa qt5-default libqt4-scripttools libqt4-opengl libxss1 libxft2 libjpeg62 libegl1-mesa libqt5dbus5

for yum based distrbutions you need in addition:
qt-x11 qt5-qtdeclarative qt5-qtbase-gui qt5-qtx11extras me

[2021-07-28 14:32] #284 closed

[2021-07-28 14:32] #372 closed

[2021-07-28 15:05] kaczmarj opened #415 "docker build jq failing -- potential race condition"
we build multiple docker images in parallel during tests. and after building each image, we clear the builder cache. it is possible that clearing the builder cache can disrupt other docker builds.

https://github.com/ReproNim/neurodocker/blob/e9ff4f8a09cc9fb8ea66d86a53c2a5de2f909daa/neurodocker/reproenv/tests/utils.py#L79

[code]

at the end of all tests, we can clear the builder cache.

[2021-07-30 02:13] carolin31 opened #416 "debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used."
Hello,

I am trying to use neurodocker to make an afni container. I first did:

neurodocker generate singularity --base=ubuntu:bionic --pkg-manager=apt --install sshfs tcsh --afni method-binaries version=latest install_r_pkgs=true > afni.recipe

and then:
singularity build --fakeroot afni.sif afni.recipe

I get the following screen and after I enter US and hit enter it gets stuck and does not cont

[2021-07-31 23:24] stebo85 commented on #416
Dear @carolin31,

In our neurodesk project we build afni in a centos7 container as we found this to work a bit better then a ubuntu base - maybe that could solve your problem?:
https://github.com/NeuroDesk/neurocontainers/blob/master/recipes/afni/build.sh

Also, you could use our built and tested afni container if this works for you :)
https://hub.docker.com/repository/docker/vnmd/afni_21.2.00

yo

[2021-08-17 18:13] anagrammarian opened #417 "ANTS 2.3.4 not working"
When I try to run

docker run --rm repronim/neurodocker generate docker --base ubuntu:16.04 --pkg-manager apt --ants version=2.3.4
it fails saying
ValueError: URL not found for version '2.3.4'. Valid versions are 2.3.1, 2.3.0, 2.2.0, 2.1.0, 2.0.3, 2.0.0

It is easy to fix by running 2.3.1 and manually changing the dropbox location but will be nice to have it especially as it should be a simple fix

[2021-08-19 17:07] Brainarea opened #418 "SPM segment and normalize12 don't work."
I' m using NiPype through a Singularity image made with Neurodocker. I have successfully used other SPM preprocessing functions but the Normalize12 is crashing.
I'm basically using the following code:

    import nipype.interfaces.spm as spm

    matlab_cmd = '/opt/spm12-r7771/run_spm12.sh /opt/matlabmcr-2010a/v713/ script'
    spm.SPMCommand.set_mlab_paths(matlab_cmd=matlab_cmd, use_mcr=True)

[2021-08-20 16:18] Brainarea commented on #358
Im having the exact same error with SPM12 r=7771 in  a Singularity image by usine Normalize12 function in Nipype. Was any solution found?

[2021-08-20 17:39] kaczmarj commented on #358
thanks for the report. i unfortunately don't have the bandwidth to explore this problem in depth. i would really appreciate help with debugging.

[2021-08-22 22:59] Brainarea commented on #358
How can I help?

[2021-08-23 01:38] kaczmarj commented on #358
@Brainarea - thank you! it would be helpful to create a minimal example that reproduces this issue. for example, with ubuntu 16.04 and the version of spm12 in question. and any data that is required for the particular to run.

then we can modify things in the reproducible example. for example a newer version of ubuntu (20.04 for example) or debian:buster. also different versions of spm12. we can s

[2021-08-24 11:10] gllmflndn commented on #358
@Brainarea and @kaczmarj: if you can provide me with a minimal example I could try and have a look. It is very possible that we have to definitely move away from MCR R2010a.

[2021-09-02 17:26] Brainarea commented on #358
FYI this is what i changed for the SPM section for docker:

[code]

[2021-09-02 17:35] Brainarea opened #419 "Multi-arch support problem for recent Linux distro (potential solution included)"
When one is trying to install AFNI (not sure if issue is there for other packages) with a recent distribution (above debian:stretch) like this:

[code]

Then a multiarch-support error appears because the package is no longer supported. Multiarch-support is needed for the installation of libxp6 and libpng12.
I found a workaround, not sure if it is viable on a long-term base. I removed multiarch-sup

[2021-09-02 17:37] Brainarea commented on #403
Dont know if you still have that issue but i might have found a workaround, see my post there: https://github.com/ReproNim/neurodocker/issues/419

[2021-09-08 00:48] carolin31 commented on #412
Hi!
I built a freesurfer singularity container (6.0.0) based on the second command from the previous reply. But when I tried using it I got an error message that the freesurfer license file was not found. I got the license file from freesurfer now but I don t know how I can include it into the container so that everything works?

Thank you very much for any help
Carolin

[2021-09-08 11:17] stebo85 commented on #412
Dear @carolin31,

You could add the license to the container and then set the license environment variable :)

Including this in your build script should work:
[code]

Kind regards
Steffen

[2021-09-09 19:38] carolin31 commented on #412
Hi Steffen,
thank you for your reply. I think it would be more convenient if I just rebuilt the container. I did this previously by using the docker container. So I tried the following:

singularity build --copy license.txt /license.txt --env FS_LICENSE=/license.txt freesurfer_6.0.0_20210726.simg docker://vnmd/freesurfer_6.0.0:20210726

but I get an error message saying 'Error for command "build":

[2021-09-09 22:46] stebo85 commented on #412
Dear @carolin31

if you want to rebuild the container you could use neurodocker and use our freesurfer container as a base-image:

neurodocker generate singularity \
   --base vnmd/freesurfer_6.0.0:20210726 \
   --pkg-manager apt \
   --copy license.txt /license.txt \
   --env FS_LICENSE=/license.txt \
   --user=neuro

Then build this recipe using singularity:
singularity build freesurfer_6.0.0_20

[2021-09-09 22:46] stebo85 commented on #412
Dear @carolin31

if you want to rebuild the container you could use neurodocker and use our freesurfer container as a base-image:

neurodocker generate singularity \
   --base vnmd/freesurfer_6.0.0:20210726 \
   --pkg-manager apt \
   --copy license.txt /license.txt \
   --env FS_LICENSE=/license.txt \
   --user=neuro

Then build this recipe using singularity:
singularity build freesurfer_6.0.0_20

[2021-09-11 02:38] carolin31 commented on #412
Hi,

I rebuild the container using the exact command above. I still got an error message that the FS license file /opt/freesurfer-6.0.0/license.txt is not found.

So I replaced the /license.txt with /opt/freesurfer-6.0.0/license.txt in the command above and rebuild the container again. And then it finally worked!

Thank you very much for your help!! :)

[2021-09-13 06:18] stebo85 commented on #412
Dear @carolin31 - interesting! Then somehow the environment variable got overwritten again (or Freesurfer 6 ignores the environment variable for some reason?) ... good to hear you got it to work by placing the license file where freesurfer expects it :)

Cheers
Steffen

[2021-09-13 13:24] kaczmarj commented on #412
thank you @stebo85. I think `FS_LICENSE` environment variable was[ introduced just after freesurfer 6 was released](https://github.com/freesurfer/freesurfer/issues/70#issuecomment-300191725). if the base image `vnmd/freesurfer_6.0.0:20210726` uses freesurfer 6.0.0, it won't look at `FS_LICENSE`.

[2021-09-13 21:09] stebo85 commented on #412
Ahh, this explains it! Thank you :)

[2021-09-14 23:35] carolin31 commented on #412
Hi,
me again ;)
Looks like I was wrong. The first script I ran was just re-running FS after editing (RUNNING: recon-all -autorecon2-cp -autorecon3 -s P2009 -openmp 10) That seemed to work. But looking back at the log I do see some errors being reported like nu_correct: command not found and other errors. and the script exited with errors.

<img width="1909" alt="Screen Shot 2021-09-14 at 4 27 46 P

[2021-09-17 11:01] stebo85 commented on #412
Dear @carolin31,

It looks like nu_correct is not on the path inside this container. Neurodocker set's up these paths  https://github.com/ReproNim/neurodocker/blob/e9ff4f8a09cc9fb8ea66d86a53c2a5de2f909daa/neurodocker/templates/freesurfer.yaml#L56 but they didn't persist into the container.

[2021-09-17 19:49] celstark opened #420 "Freesurfer singularity image building fails - easy fix"
Building a singularity image of Freesurfer (tried 6.0.1 and 7.1.1) fails with thousands of:
` Cannot change ownership to uid 1623927, gid 1590: Invalid argument`
I've tried this with ubuntu and debian bases and in both the released 0.7 and git-based neurodockers:
`neurodocker generate singularity
 --base-image debian:buster --pkg-mnanager=apt
 --freesurfer method=binaries version=7.1.1 > freesurfe

[2021-09-18 10:50] stebo85 commented on #412
Dear @carolin31

I found the problem and a solution: The PATH wasn't setup in the container you have, because the change in neurodocker was done after I build the container, so a quick fix for your problem is to run:
[code]
before you start your analysis :)

Kind regards
Steffen

[2021-09-22 09:04] civier opened #421 "What happened to the --matlabmcr option?"
Hello,

I wonder what happened to the --matlabmcr option. Why isn't it available anymore?
Is there an alternative way to install matlabmcr into a container generated by neurodocker?

Thanks ahead,
Oren

[2021-09-23 13:43] kaczmarj commented on #421
this looks a regression, introduced in #378 -- we'll have to add it back in. my bandwidth is low at the moment and would appreciate any help

[2021-09-23 19:51] fsmMLK commented on #358
Guillaume configuration file does not work. the image is indeed created but when I try to run spm, I get the error.
I don't see any reference to a working version of smp using singularity

[2021-09-24 08:36] gllmflndn commented on #358
Hi @fsmMLK, which error message do you get? Is it the exact same one than in your original post?

You can get a Singularity image containing SPM12 [here](https://github.com/spm/spm-docker) and it seems to work fine for me:

[code]

[2021-09-24 12:39] fsmMLK commented on #358
I have found the issue in the configuration file mentioned by Guillaume on Aug 25. The Matlab related exports in the end were not updated.

Here is the corrected [configuration file](https://github.com/ReproNim/neurodocker/files/7225640/confSingularity_UBUNTU_20_04_SPM12_MATLAB_2019b_NIPYPE.txt)

Contents:
Base: Ubuntu 20.04
MATLAB Runtime R2019b Update 3 glnxa64
SPM12 version r7771 (method binari

[2021-09-24 15:11] gllmflndn commented on #358
:thumbsup: makes sense. The way I was testing was redefining these environment variables so this went unnoticed. Thanks.

[2021-10-19 00:45] kaczmarj commented on #420
@celstark - thanks for the catch. would you mind submitting a PR?

[2021-11-15 19:11] award7 commented on #414
I can't even get v6.0.3 to finish building.

[2021-11-15 19:33] kaczmarj commented on #414
@djarecka @satra - could someone please help with debugging this issue?

[2021-11-15 19:43] PatrikBey commented on #414
Hey

I found the following installation instruction to work for FSL 6.0.4 inside the DOCKERFILE for my container:

[code]

It only seemed to work for a Ubuntu:18.04 though not my previous 20:04.
Hope this helps.

[2021-11-15 20:46] EvelinYin commented on #414
I get the following error:
failed to solve with frontend dockerfile.v0: failed to create LLB definition: no build stage in current context

[2021-11-15 21:14] kaczmarj commented on #414
Try adding a `FROM ubuntu:18.04` at the top.

[2021-11-18 18:11] arokem opened #426 "Freesurfer dev version"
Realizing that this might be out of scope for neurodocker, I wonder what folks here think about providing an option to create an image that contains the Freesurfer dev version.

More concretely, I wonder whether anyone has managed to build the Freesurfer dev version in docker. I have made some efforts [here](https://github.com/arokem/freesurfer/pull/1), but it isn't going so well :-/ I would appre

[2021-11-18 22:49] pwighton commented on #172
I've been working on this: https://github.com/pwighton/neurodocker/tree/20210825-refactor

It's a mess right now, but mostly works :)

[2021-11-18 23:08] arokem commented on #426
Sorry - didn't properly search the issues. Looks like this is a duplication of #172 from a few years back 😄

[2021-11-18 23:08] #426 closed

[2021-11-22 22:00] keithcdodd opened #427 "Mac Monterey zsh: command not found: neurodocker"
Hello, I assume I am missing something obvious (this is my first time working with Docker), but I cannot seem to use neurodocker. I installed Docker, and I verified that works, and running docker run --rm repronim/neurodocker:0.7.0 --help appears to work (although it exits almost immediately).

However, after running that, neurodocker generate command does not work. It immediately errors out with

[2021-11-22 23:41] kaczmarj commented on #427
hi @keithcdodd - thanks for reaching out.

does the following command show a help message?

[code]

if so, we can try a `neurodocker generate` command as follows:

[code]

that should show a help message for the options available to build a docker image with neurodocker.

[2021-11-23 18:25] keithcdodd commented on #427
OK yes, that works thanks! I assume I can just make a shortcut then in my ~/.bashrc for a command "neurodocker" to be short for "docker run --rm repronim/neurodocker:0.7.0" ? Unless you know a better method that works better with docker/neurodocker?

Thanks again!

[2021-11-23 18:44] keithcdodd commented on #427
I think that making that shortcut (for mac I guess it is ~/.zprofile) seems to potentially work, but I am still running into issues, for example when attempting the FSL install example.

First, it appears it now needs --base instead of --base-image (?), then it threw an error that fsl 6.0.4 was not a valid choice (but 6.0.3 and older is), an then finally I still get "failed to solve with frontend

[2021-11-25 04:35] dfslezak opened #429 "FreeSurfer 7.1.1-min template is missing"
Hi. I am trying to generate FreeSurfer version 7.1.1-min but template with URLs only have 6.x.x versions.
Do you have the updated template for newer versions?

Thanks in advance

[2021-11-29 10:00] tclose opened #430 "Public API?"
I realise that this is probably a bit of a niche request, but I was wondering whether there were any plans to expose stable public API for neurodocker at some point?

I had a dig around in 0.7.0 and was able to find all the classes that I needed (which was fantastic!). However, I got a nasty surprise when 0.8 came out and everything had been refactored.

[2021-11-29 14:56] kaczmarj commented on #430
hi @tclose - one goal of the refactor to expose a public api. previously, neurodocker was not designed to be used as a module -- just as a command-line interface. can you describe what you are trying to do?

[2021-11-30 06:27] tclose commented on #430
Hi @kaczmarj, I'm writing a method to wrap up [Pydra](https://pydra.readthedocs.io) tasks in Docker containers so they can be run in XNAT's "container service" (Dockerised pipelines), i.e. with my code to interface with XNAT and appropriate config files inserted in the docker containers.

Here is the [method](https://github.com/Australian-Imaging-Service/arcana2/blob/81a39cb901d092aa92e3f2b20b9f2b

[2021-11-30 11:41] kaczmarj commented on #430
That’s great. Could you update the link to the code? I’m getting a 404 error

[2021-11-30 12:24] tclose commented on #430
Does this one work, https://github.com/Australian-Imaging-Service/arcana2/blob/bb47ec020e1035b4c9c1801d6c140301be7374de/arcana2/data/repositories/xnat/cs.py#L184?

NB: It is part of a larger package that is designed to manage derivatives alongside raw data in XNAT repositories so there is quite a bit of stuff there which isn't directly related.

[2021-11-30 12:49] kaczmarj commented on #430
@tclose - i think the repository is private. could you paste some representative code of what you are trying to do?

[2021-11-30 20:43] tclose commented on #430
Ah, sorry you are right. I had forgotten I made it private to start off with. Can you try the link now?

If not, the code I am linking to is

[code]

[2021-11-30 21:26] kaczmarj commented on #430
thanks @tclose - i think the main changes would have to be in the `neurodocker_specs`. one goal of the refactor was to validate these specs much more closely. previous versions of neurodocker did almost zero validation. now we use a [json schema](https://github.com/ReproNim/neurodocker/blob/master/neurodocker/reproenv/schemas/renderer.json) for validation.

you can see the generated json by append

[2021-11-30 23:55] #420 closed

[2021-11-30 23:56] kaczmarj commented on #420
@celstark - #428 should fix this problem. would you mind trying out current master?

[2021-11-30 23:58] kaczmarj commented on #429
can you try the current master version? 7.1.1-min is listed here:

 https://github.com/ReproNim/neurodocker/blob/483ead1e9cf5e2004128b92bf9b3f86e5c9d5453/neurodocker/templates/freesurfer.yaml#L27

[2021-12-01 04:59] tclose commented on #430
A JSON based spec would be very cool.

However, I don't quite get the logic of the instructions syntax, what does "kwds" stand for and why is "from_" suffixed by a underscore?

[2021-12-01 16:11] dfslezak commented on #429
Thanks. Got it!

On Tue, Nov 30, 2021 at 8:58 PM Jakub Kaczmarzyk ***@***.***>
wrote:

[2021-12-06 04:19] tclose commented on #430
I see, it is the syntax that is saved inside the generated images. Ok, I should be able to work with that

[2021-12-06 04:19] tclose commented on #430
Thanks for the explanation!

[2021-12-06 19:46] kaczmarj commented on #430
`kwds` stands for keywords. `from_` has an undercore in it because `from` is a reserved word in python. the docker and singularity renders have a `from_` argument to specify the base image. the argument cannot be called `from` because that would raise a syntax error. hope this helps.

[2022-01-05 21:01] anneleenders commented on #427
Hello,

I'm also a newbie and trying to install Neurodocker. I get the same error message. Did you find a solution in the end?

Kind regards,
Anne

[2022-01-05 21:08] djarecka commented on #427
@anneleenders - could you please let us know which command are you trying to run?

[2022-01-05 21:47] anneleenders commented on #427
Yes, it’s this command:
`docker run --rm repronim/neurodocker:0.7.0 --help`
The command from the neurodocker user guide.
My software version is however not yet 12, I have OSX 11 installed.

[2022-01-05 22:00] djarecka commented on #427
could you please copy the full error? I think you could actually have a different problem than the original one.

[2022-01-06 07:06] anneleenders commented on #427
Good morning :)

This is what is in my terminal:

[code]

[2022-01-07 18:31] djarecka commented on #427
In order to use `neurodocker` command directly from command line you would have to install neurodocker python package:
[code]

Alternatively, you could just use neurodocker image to use the software, e.g. `docker run --rm repronim/neurodocker:0.7.0 --help`, and this works for you. You can also use the image to run `generate` command, e.g. `docker run --rm repronim/neurodocker:0.7.0 generate dokcer

[2022-01-10 10:12] anneleenders commented on #427
Thanks a lot! This helps indeed.
(except for the minor typo in the generate docker) You might want to edit that for people who are reading this later an copying :)

[2022-01-10 15:09] djarecka commented on #427
I will close this for now. @keithcdodd please reopen if you still have issues

[2022-01-10 15:09] #427 closed

[2022-01-18 22:43] zndr27 commented on #407
I'm also interested in this feature.

[2022-01-19 00:03] stebo85 commented on #407
Cat12 comes in an MCR version: http://141.35.69.218/cat12/

so modifying the SPM12 file would be a good start: https://github.com/ReproNim/neurodocker/blob/master/neurodocker/templates/spm12.yaml

[2022-01-19 16:54] zndr27 commented on #407
I previously tried building an image which using "cat12_latest_R2017b_MCR_Linux.zip"

However when I tried running CAT12Segment from the nipype interface I got the following error shown below. Upon further inspection, it seemed to me like many of the matlab files included with SPM are not in the CAT12 standalone MCR. Granted, I know very little about Matlab or SPM / CAT12 so I may have made a mist

[2022-01-20 23:56] stebo85 commented on #407
I build a container using the official CAT12 MCR release (http://141.35.69.218/cat12/CAT${CAT_VERSION}_${CAT_REVISION}_${MATLAB_VERSION}_MCR_Linux.zip ) and I also run into this problem. It seems that there is a custom function
[code]
that breaks it. Maybe @ChristianGaser has an idea what this function is and why it didn't get compiled for the MCR.

I also tested @gllmflndn MCR SPM version with ma

[2022-01-21 20:22] zndr27 commented on #407
Yes I want to echo that building a container with nipype + SPM12 r7771 MCR R2019b works for me as well! There seems to be issues with nipype + CAT12 MCR release specifically.

[2022-01-21 21:18] gllmflndn commented on #407
I will have a look at the issue with SnPM - this happens in the context of the development version of SPM so this is a side issue.

I would prefer if the "official" standalone version of SPM was used for nipype + SPM12.

[2022-01-23 18:12] kaczmarj commented on #429
great - i will close this issue now. please open a new issue if you run into any other problems.

[2022-01-23 18:12] #429 closed

[2022-01-26 16:44] ajschadler12 commented on #406
Apologies for bringing up a somewhat related issue.
When generating an `ubuntu:xenial` image using the singularity.def file from neurodocker, when I get to this section of the file:

[code]

The build process fails with

[code]

Appears to be related to this [issue](https://github.com/apptainer/singularity/issues/1658) reported on the singularity issue tracker.

[2022-01-26 17:08] kaczmarj commented on #406
@ajschadler12 - thanks for the report and thanks for linking the singularity issue. could you please open a new issue? we can discuss there. one thing i would want to know is whether `/opt/fsl-6.0.0/etc/fslconf/fslpython_install.sh` exists in the container (and if any of the parent directories exist).

[2022-01-28 00:31] stebo85 commented on #407
Christian Gaser found the problem and fixed it in this build :) http://www.neuro.uni-jena.de/cat12/CAT12.8_r1933_R2017b_MCR_Linux.zip - I am just building a new image for [Neurodesk ](https://neurodesk.github.io/) and then I have a look at writing the build recipe for neurodocker :)

[2022-01-28 00:35] kaczmarj commented on #407
thank you @stebo85 and everyone else!

[2022-02-28 01:00] satra opened #439 "new release"
should we cut a new release?

there is a post on neurostars that seems like errors due to mismatch in versions: https://neurostars.org/t/creating-nipype-tutorial-using-neurodocker/21646

[2022-03-01 13:14] civier opened #440 "An option to add a prefix to all commands in the dockerfile"
Hi Jakub, Satra, and all,

Does Neurodocker have an option to add a prefix to all commands in the dockerfile?
I want to add "set -vx &&" to the beginning of all commands, but don't know how?

Thanks ahead,
Oren

[2022-03-01 14:13] kaczmarj commented on #439
yes let's cut a new release. i think now is a good time. i'll cut the release tomorrow.

[2022-03-01 14:22] kaczmarj commented on #440
@civier - neurodocker does not provide a way to do this. but how about processing the generated dockerfile with something like `sed`?

for example

[code]

[2022-03-01 14:26] satra commented on #439
thanks @kaczmarj - do you mind just responding to that neurostars thread if you have a bit of time.

[2022-03-01 14:27] kaczmarj commented on #439
@satra - will do! thanks for the pointer

[2022-03-01 15:18] civier commented on #440
Yes. I can do the sed thing, but I think it could be a useful option also for others. I will implement it when I have a chance.
BTW, doesn't Docker build have any flags that can control the shell that runs the recipe commands + the argument for the shell? For what I need, it might be easiest to implement it at that level.

[2022-03-04 01:08] kaczmarj commented on #439
i have not forgotten about this -- haven't had a chance to release. will try tomorrow or over the weekend.

[2022-03-07 03:04] kaczmarj commented on #439
i released version 0.8.0!

[2022-03-07 03:04] #439 closed

[2022-03-16 17:31] Brainarea opened #441 "ANTS with source needs little update"
I was trying to install ANTS through sources and it was giving me the following error:
"The unauthenticated git protocol on port 9418 is no longer supported"

I found out that git requires a change in the default url and this is easily done with a git config command.

This is the code that works for me for installing ANTS with source:

ENV ANTSPATH="/opt/ants-latest/bin" \
    PATH="/opt/ants-late

[2022-03-17 17:57] Brainarea commented on #441
Correct!

[2022-03-29 13:17] Remi-Gau opened #442 "manifest for repronim/neurodocker:0.8.0 not found"
Quick cross check: am I the only one to get this when trying to use the version 0.8.0 ?

[code]

Everything is fine when using `latest` but I believe that from the tags on docker hub the latest will be 0.7.0 (as confirmed by the warnng when trying to use the latest image).

FYI: tried this when I saw that the latest release on the repo is 0.8.0.

[2022-03-29 14:39] kaczmarj commented on #442
@Remi-Gau - thanks, looks like 0.8.0 is not on dockerhub.

@djarecka - dockerhub isn't automatically building containers for neurodocker. i don't have admin rights on the dockerhub page -- could you please see what's wrong? at the very least we should build a neurodocker:0.8.0 image and push it manually.

[2022-04-12 12:05] kaczmarj commented on #430
@tclose - thanks for the question. let me take a look. please ping me here if you don't hear back :)

[2022-04-12 12:18] tclose commented on #430
Sorry, was meaning to write back to say that it seems that it is just the error message that is misleading, and the problem was that the format of the kwds didn't match the schema. The following format works for anyone who is interested

[code]

[2022-04-12 12:18] #430 closed

[2022-04-12 12:32] kaczmarj commented on #430
@tclose - thanks for the update. i agree that the error is misleading. but i don't know how to fix it. if anyone else has experience with this, i'd appreciate it.

the schema: https://github.com/ReproNim/neurodocker/blob/master/neurodocker/reproenv/schemas/renderer.json

the code that validates a dictionary against the schema: https://github.com/ReproNim/neurodocker/blob/664965c511d0fd65aab7c8c438

[2022-04-13 02:18] tclose opened #444 "Support for invalid-Python-keyword labels in API"
Label names in Docker can have '.'s in them (e.g. `org.nrg.commands` is a special label used in XNAT's container service) but the syntax of
the API, i.e. `_Renderer.label(label_name=label_content)`, doesn't support that

[2022-04-19 16:56] ConorOW opened #446 "Neurodocker"
Hey team.

Created a Neurodocker container (v0.7.0) with FSL and Mrtrix3:

`neurodocker generate docker --pkg-manager apt --base debian:stretch --fsl version=5.0.11 --mrtrix version=3.0_RC3 > ConPipe.Dockerfile`

Works great until it gets to a step (`dwibiascorrect`) which appears to need Python, as it breaks with the following error:
`/usr/bin/env: ‘python’: No such file or directory`

Tried amen

[2022-04-20 05:29] stebo85 commented on #446
Dear @ConorOW

can you try

   --mrtrix3 version=3.0.3 method="source"

You could also quickly test if the mrtrix3 Neurodesk image works for you (contains fsl_6.0.3 and mrtrix 3.0.3):
docker pull vnmd/mrtrix3_3.0.3:20210917

I hope that works :)

Cheers
Steffen

[2022-04-20 18:02] ConorOW commented on #446
Thank you so much Steffen, the first suggestion worked perfectly!

Very grateful for your help,
Conor

[2022-04-28 06:39] tclose commented on #444
Could this be handled by adding a `labels` method that takes a dictionary of labels to add, e.g. `_Renderer.labels({'label_name': label_content})`?

[2022-04-28 16:05] Remi-Gau opened #447 "no copying when generating a singularity def"
Tried the following command to generate a singularity def file for the python code from glmsingle (https://github.com/cvnlab/GLMsingle)

[code]

the output of the " `--copy` command" is not added to the def file.

Is this a known bug that was fixed between version 0.7 and 0.8? Should I update?

The core of the output is (I added a main comment in there):

[code]

[2022-04-29 15:02] kaczmarj opened #448 "docker image not building automatically on DockerHub"
The neurodocker docker images on dockerhub are not building automatically. i do not have push privileges so cannot update the images there. can someone please upload a 0.8.0 docker image? the ideal solution would be to fix the autobuild.

cc: @djarecka

[2022-04-29 15:03] kaczmarj commented on #447
@Remi-Gau - thanks for this report. it looks like this was fixed in version 0.8.0. but there is no docker image for that version. i am creating a new issue (https://github.com/ReproNim/neurodocker/issues/448) to track that.

i have uploaded the version 0.8.0 docker image to `kaczmarj/neurodocker:0.8.0`. can you please try the command below? i had to change `--base` to `--base-image`.

[code]

[2022-04-29 15:06] #446 closed

[2022-04-29 15:08] kaczmarj commented on #444
@tclose - good catch. it's a little clunky, but for now could you try

[code]

but i agree that labels with `.` in them should be supported. your proposed solution would be great. prs are welcome ;)

[2022-05-03 20:11] ellisdg opened #449 "Freesurfer installation overwrites the PATH environmental variable"
After creating a docker image, I noticed that the directory locations for any package installed before Freesurfer were not listed in the PATH environmental variable.

Looking at the [template for FreeSurfer](https://github.com/ReproNim/neurodocker/blob/65067b63335c782265fec32d46253c7eae2e80ba/neurodocker/templates/freesurfer.yaml#L57), it looks like it completely overwrites the PATH variable inste

[2022-05-11 16:54] mateuszpawlik opened #450 "FSL installation takes long"
This is not a neurodocker question but may be relevant. I think it is a more FSL or conda question. However, I though about asking here for some hints because FSL support is tedious with their mailing list.

I'm trying to build a Docker container with FSL. The "Stage 2" of "Performing post install tasks" takes forever. It's not my Internet connection. Maybe someone here has a similar experience.

[2022-05-12 08:12] mateuszpawlik commented on #450
An update. I've tried version 6.0.2 and it went through but with error:
[code]

[2022-05-12 08:58] mateuszpawlik commented on #450
This issue may have some hints: https://github.com/easybuilders/easybuild-easyconfigs/issues/7899

[2022-05-12 12:14] mateuszpawlik commented on #450
Update. I changed `RUN python3 fslinstaller.py -d /opt/fsl -V 6.0.2` into `RUN /usr/bin/python3 fslinstaller.py -d /opt/fsl -V 6.0.2`. It didn't change anything.

[2022-05-12 13:50] mateuszpawlik commented on #450
Cześć @kaczmarj :-) Thanks for the tip. Yes, I've seen this post but I'm trying to install FSL in Docker, so executing these steps is a little bit problematic. But I will try it next.

With version 6.0.2, Stage 2 doesn't last long. I think it stalls in newer versions because something goes wrong. I'm really surprised that the FSL developers don't fix these issues. But well, it is what it is.

Smal

[2022-05-12 14:28] mateuszpawlik commented on #450
Funny thing, the `-L` option is in the newer FSL version of `fslpython_install.sh` but not 6.0.2. I added it in 6.0.2 and now "Stage 2" stalls as originally. That's the current Docker snippet:
[code]

[2022-05-12 14:31] kaczmarj commented on #450
the stall is normal. conda takes its time to create the environment :) from my experience, it could take around 15 minutes or more for the conda installation to complete. please let me know if your docker build succeeds

[2022-05-13 10:10] mateuszpawlik commented on #450
I've built a Dockerfile using Neurodocker with `neurodocker generate docker --pkg-manager apt --base-image debian:stable --fsl version=6.0.2 > Dockerfile.nd.fsl` It finished building but I don't have a detailed timestamp. It was less than 2.5h.

I'll try my Dockerfile again. It seems FSL takes a long time to install.

[2022-05-13 12:15] kaczmarj commented on #450
i think the neurodocker build is the way to go. but unfortunately, fsl does take a long time to install. first, the fsl binaries have to be downloaded, and then the conda environment has to be created. both of these processes take some time as you have seen. these will go slower is the internet speed is low.

regarding the progress `Stage 2 0%`, in my experience the percentage did not increase unt

[2022-05-17 11:21] mateuszpawlik commented on #450
I'd like to thank you @kaczmarj for help. I've build the Docker container using mine and Neurodocker-generated Dockerfile, both for FSL 6.0.5.1 Both work. Both take around 2.5h to install FSL (**not** due to the Internet bandwidth).

I generated Nerodocker Dockerfile with `neurodocker generate docker --pkg-manager apt --base-image debian:stable --fsl version=6.0.5.1 > Dockerfile.nd.fsl_6.0.5.1`.

[2022-05-17 11:21] #450 closed

[2022-05-17 14:05] kaczmarj commented on #450
@mateuszpawlik - i'm glad it's working now.

one note on the line `RUN . ${FSLDIR}/etc/fslconf/fsl.sh`. the sourced variables will not persist to future instructions. each `RUN` instruction starts up its own shell and then tears down that shell when it's finished.

you could get around this in two ways: either source the `fsl.sh` file when you start the container, or hardcode the environment varia

[2022-05-18 09:00] mateuszpawlik commented on #450
Thank you for that. It would most probably hurt later :wink:

[2022-06-09 09:35] mateuszpawlik opened #451 "Minify error: No such file `_trace.sh`"
I'm trying to minify a container using your [documentation](https://www.repronim.org/neurodocker/user_guide/minify.html).

Steps to install neurodocker:
[code]

Steps to reproduce the error (it's difficult for me to provide reproducible steps at this point):
[code]

After the last command, I get the following error:
[code]

Related issues:
https://github.com/ReproNim/neurodocker/issues/450
https:/

[2022-06-09 09:55] mateuszpawlik commented on #451
I don't know if it's related but I've found `_trace.sh` in this line: https://github.com/ReproNim/neurodocker/blob/65067b63335c782265fec32d46253c7eae2e80ba/setup.cfg#L66 but I can't find `reprozip/_trace.sh` path in the project.

[2022-06-09 10:30] mateuszpawlik commented on #451
Copying file https://github.com/ReproNim/neurodocker/blob/master/neurodocker/cli/minify/_trace.sh into the directory from the error message (`/home/mpawlik/Remote/anc-data-acquisition/env/lib/python3.7/site-packages/neurodocker/cli/minify/`) helped. I'll update this comment with further results.

[2022-06-09 11:52] kaczmarj commented on #451
@mateuszpawlik - thanks for the report. here's `_trace.sh` https://github.com/ReproNim/neurodocker/blob/master/neurodocker/cli/minify/_trace.sh

that is odd that `_trace.sh` is not included... i'll take a look. thanks again

[2022-06-13 08:31] mateuszpawlik opened #452 "Minify removes environment variables"
I minified an FSL container using the [documentation](https://www.repronim.org/neurodocker/user_guide/minify.html). However, the environment variables, including `PATH` were not set in the new image, after `docker import`. I don't know if this is a result of `docker export` or `docker import`. I tried to find a reason but couldn't. I ended up building a new image with a new Dockerfile based on the

[2022-06-13 13:01] kaczmarj commented on #452
yes, i don't think `docker export` preserves environment variables. what you did is the way to go... we should update the documentation with this information..

[2022-07-08 01:03] stebo85 commented on #345
I just saw that there was a pull request with a potential solution to the problem:

 gsl2_path="$(find / -name 'libgsl.so.*' || printf '')"

https://github.com/ReproNim/neurodocker/pull/409

[2022-07-08 01:10] stebo85 opened #454 "empty line in Dockerfile caused by AFNI recipe"
Dear Neurodocker team,

The current AFNI recipe doesn't seem to work. When building afni with:

   --afni version=latest method=binaries install_r_pkgs='true' install_python3='true' \

This leads to

[code]

I think it is caused by an empty line in the docker recipe:

[code]

But I can't figure out where this empty line comes from - this looks ok to me?
[code]

can someone see what I am missing :?

[2022-07-08 23:21] stebo85 commented on #454
awesome - that was it :)

[code]
... works

I send a pull request :)

[2022-07-08 23:21] #454 closed

[2022-07-09 04:53] #332 closed

[2022-07-10 23:53] stebo85 commented on #345
I submitted a pull request that fixes this issue :)
https://github.com/ReproNim/neurodocker/pull/455

you can also use the new AFNI container directly from www.Neurodesk.org container library:
https://hub.docker.com/r/vnmd/afni_22.1.14

Or use it directly in neurodesk in the browser: https://play.neurodesk.org/v2/gh/neurodesk/jupyter-neurodesktop-image/main?urlpath=neurodesktop

[2022-07-10 23:55] stebo85 commented on #397
@djarecka - Neurodesk tries to solve such problems by providing access to version controlled container versions of tools like AFNI: https://hub.docker.com/search?q=vnmd%2Fafni

You can explore what's available here: https://play.neurodesk.org/v2/gh/neurodesk/jupyter-neurodesktop-image/main?urlpath=neurodesktop

[2022-07-14 16:36] ConorOW opened #457 "Freesurfer=7.1.1-min"
Hey folks,

I am interested in making a Freesurfer7-mini container.

Followed the instructions on the [examples page](https://www.repronim.org/neurodocker/user_guide/examples.html) on the website, but get the following error:
`[NEURODOCKER 2022-07-14 09:27:53,178 WARNING]: A newer version (0.8.0) of ReproNim/neurodocker is available. You are using 0.7.0
[NEURODOCKER 2022-07-14 09:27:53,184 ERROR]:

[2022-07-18 07:45] cmaumet commented on #345
Fantastic! Thank you @stebo85 🎉

[2022-07-21 02:31] kaczmarj commented on #442
@djarecka or @satra - can you please give me push access to https://hub.docker.com/r/repronim/neurodocker/ ?

my dockerhub id is kaczmarj

[2022-07-21 03:26] satra commented on #442
unfortunately we don't have a proper team membership and it's limited. if you setup a github workflow for push, i can put in the token authorization for the repronim bot.

[2022-07-21 04:54] stebo85 commented on #442
we had the same problem in the Neurodesk project and also solved it by using one account with the account details stored as github secrets:

maybe it helps - here is an example:
https://github.com/NeuroDesk/neurocontainers/blob/master/.github/workflows/afni.yml
https://github.com/NeuroDesk/neurocontainers/blob/master/.github/workflows/build-docker.sh

the important bits are:
[code]
[code]

[2022-07-21 15:53] yarikoptic opened #458 "Make --no-install-recommends optional"
My use case is to recreate elderly python2 environment with python-mvpa2 via `apt` on neurodebian:nd100.  That package for "full featured" operation Recommends a good number of packages. I want to have them installed, but neurodocker hardcodes addition of `--no-install-recommends` into apt invocation.  Even adding `--install-recommends` in the list of packages (cheating) causing the line to be `--

[2022-07-21 21:49] kaczmarj commented on #458
i'm not sure if this is documented anywhere, but you can use `--install opts="" wget` to remove `--no-install-recommends`.

[code]

does that work for you?

if this isn't documented, we should include it somewhere.

[2022-07-29 16:50] yarikoptic opened #460 "Testing needs fixups"
As discovered in https://github.com/ReproNim/neurodocker/pull/459
[code]

[2022-07-29 18:13] kaczmarj commented on #460
interesting, i wonder how that got in there... thanks for the report @yarikoptic . i don't have enough bandwidth to look into this now unfortunately. i will be much more free after august 5.

[2022-08-01 12:50] Remi-Gau opened #461 "[DOC] missing commands in the online doc"
Not urgent but I think that some commands are not listed in the online doc.

For some reason I tend to go for the online doc rather that typing `--help` and I got confused by some things I knew should be there.

Comparing for example:
- https://www.repronim.org/neurodocker/user_guide/cli.html#neurodocker-generate-docker

With:
docker run -it --rm repronim/neurodocker:0.7.0 generate docker --help

[2022-08-01 13:31] kaczmarj commented on #461
thanks @Remi-Gau for pointing this out - the docs definitely need work. good to know that you are using the online doc rather than `--help` -- i'm sure many others do the same. given that, docs need to become a priority.

thanks for the missing items. to anyone reading this, pull requests are welcome of course. i'll try to address this issue in the coming days if no pull requests come in.

[2022-08-01 13:43] Remi-Gau commented on #461
I have not had a close look but I think that most of your doc must be auto generated through some sphinx / rst directives.

Not sure where the discrepancy is coming from. If that part of the doc is generated manually, then that is probably what needs to change. :-)

[2022-08-01 13:47] satra commented on #461
we may want to enable the click doc extension that we use in dandi cli: https://dandi.readthedocs.io/en/latest/

[2022-08-01 13:56] kaczmarj commented on #461
@satra - thanks for the pointer. had not seen that before.

[2022-08-03 18:56] pwighton commented on #457
Hi @ConorOW, you can install the latest version of neurodocker, by cloning the repo, then running `pip install -e .` from the `neurodocker` directory.

You could also use `docker run pwighton/neurodocker:20220610`

[2022-08-03 19:06] pwighton commented on #449
Hi @ellisdg, thanks for pointing this out.  I just submitted a PR (#462) that should fix this issue.

[2022-08-03 19:17] ConorOW commented on #457
Thanks so much Paul, works perfectly. Appreciate the support.

Cheers,
Conor

[2022-08-04 16:08] kaczmarj commented on #458
following up on this. does `--install opts=""` satisfy your needs @yarikoptic  ?

[2022-08-04 17:48] #449 closed

[2022-08-04 17:55] kaczmarj commented on #444
can we close this now that #453 has been merged?

[2022-08-04 18:04] #451 closed

[2022-08-04 21:40] yarikoptic commented on #458
oh, and it needs 0.8.0 (0.7.0 isn't good enough)!  seems to work, but requires invocation change (--base-image vs --base) and output is different (https://github.com/ReproNim/containers/commit/30b39e96f30e52f4dc598c038918240d69b89c11) so will analyze in detail later. Feel free to close as is or close with adding some docs about this magical feature ;-)

[2022-08-06 11:26] kaczmarj commented on #457
@ConorOW - i'm working on getting the docker images in `repronim/neurodocker` up to date. for the moment, you can use

[code]

thank you @pwighton for the help

related to #448

[2022-08-06 15:47] ConorOW commented on #457
Thanks so much @kaczmarj, I will give that a run today.

Really appreciate your support.

Cheers,
Conor

[2022-08-09 19:07] yarikoptic opened #466 "regression (on heudiconv): Missing required arguments: 'version'"
decided to update https://github.com/nipy/heudiconv/blob/master/Dockerfile produced using https://github.com/nipy/heudiconv/blob/master/utils/gen-docker-image.sh . Decision to update was to account for CLI change in `conda clean` which now leads to breaking docker image build and that issue was addressed in neurodocker.  So I changed script as

[code]
switching presumably from 0.4.2-3-gf7055a1 to

[2022-08-15 18:07] araikes opened #467 "MRtrix 3.0.3"
Currently, _neurodocker_ only supports MRtrix up to v. 3.0.2, but there are some useful updates in 3.0.3. Any objection if I submit PR that adds 3.0.3 as an option?

[2022-08-15 18:07] kaczmarj commented on #467
Hi, please do submit a PR!

Best,
Jakub

[2022-08-22 05:55] stebo85 opened #468 "--matlabmcr version=2019b install_path=/opt/mcr fails in ubuntu 22.04"
when using

[code]

in a build based on ubuntu 22.04

it fails because of a missing package multiarch-support:

[code]

[2022-08-22 07:53] stebo85 commented on #468
when removing multiarch-support libxt6 doesn't work anywhere when installed from the deb

[2022-08-22 12:18] kaczmarj commented on #468
The afni dependencies have been giving me problems for the longest time. This is a good opportunity to square that away… I’ll look into this this week.

Best,
Jakub

[2022-08-23 04:16] stebo85 commented on #468
so, I removed these two dependencies and everything still seems to work ok. What was the reason they were there in the first place?

I send a pull request with these two removed.

[2022-08-27 21:33] ConorOW commented on #457
Sorry @kaczmarj, have not been able to get things going...

Tried the following, as well as a number of little iterations with the base image...

`docker run --rm kaczmarj/neurodocker:0.9.1 --version`

neurodocker version 0.9.1+0.gad2f3a6.dirty

then:

`neurodocker generate docker --pkg-manager apt --base-image debian:buster-slim --freesurfer version=7.1.1-min > freesurfer7-min.Dockerfile`

then:

[2022-08-29 14:29] pwighton commented on #457
Hi @ConorOW,

Can you try replacing the command:
[code]

with:
[code]

[2022-08-30 04:03] ConorOW commented on #457
Thanks so much @pwighton, I got it to run using your suggestion. I would then get an error at the build stage.

So this wouldn't work:
`docker build --tag freesurfer:7.1.1-min --file freesurfer7-min.Dockerfile .`

but this would:
`docker build --file freesurfer7-min.Dockerfile .`

So I took the second approach, and then named/tagged the image:
`docker image tag <image id> freesurfer7-min`

Thank y

[2022-08-30 04:03] #457 closed

[2022-09-01 19:07] nichy-consortium opened #472 "Freesurfer-7.1.1-min neurodocker ERROR: could not configure recon-all parameters"
Hi,

I am experiencing issues when running recon-all in the freesurfer-7.1.1-min neurodocker container. The container was built using the instructions provided on the website (https://www.repronim.org/neurodocker/user_guide/examples.html)

To generate & build:
[code]

`docker build --tag freesurfer:7.1.1-min --file Dockerfile .`

Then I tried running recon-all from within the container with:
[code

[2022-09-13 10:18] yidilozdemir opened #474 "local module load in docker run"
Hello all, maybe not appropriate to ask here but, how does one build a local python package in the miniconda/pip environment in the docker run command line? Or should one build and start the docker, build the package by referencing to the local working directory where the module exists, then save this image?

[2022-09-18 14:43] JonteP opened #475 "--fsl error"
I am trying to build a docker container including FSL like so:

`docker run --rm kaczmarj/neurodocker:0.9.1 generate docker --pkg-manager apt --base-image neurodebian:buster --fsl version=latest --miniconda version=latest conda_install="nipype notebook" --user nonroot > Dockerfile`

and get this:
FSL is non-free. If you are considering commercial use of FSL, please consult the relevant license(s).

[2022-09-18 15:12] satra commented on #475
try adding `-i`, so `docker run -i --rm ...`

[2022-09-18 19:54] JonteP commented on #475
Thank you, satra! That was embarrasingly simple...

[2022-09-19 12:33] ysagon commented on #475
It is maybe embarrassingly simple but I had the same question and was about to open the same issue! So thanks. And probably it would worth to do an update of the documentation:)

[2022-09-19 12:45] satra commented on #475
would one of you be up for sending a PR ? there is a known issue with using the docker `-t` flag and it could be added there, but this seems more about general guidance than an issue. perhaps could be a note at the first point docker is mentioned. perhaps here: https://www.repronim.org/neurodocker/user_guide/installation.html#container-preferred

[2022-09-28 09:04] jingwei-li opened #476 "Problem installing ANTs with Singularity"
Dear neurodocker contributors,

I'm trying to install ANTs through neurodocker on my institute's server. I followed the suggested commands in this section of the documentation: https://www.repronim.org/neurodocker/user_guide/quickstart.html#singularity

The `neurodocker generate singularity` command run successfully. But in the next step `sudo singularity build nipype-ants.sif Singularity`, I enco

[2022-09-29 23:03] yarikoptic commented on #466
@kaczmarj any ideas on how to fix this and why `version` is now required?

[2022-09-30 01:49] kaczmarj commented on #466
I think this version is about the version of miniconda. Using the latest version as default is not reproducible so now we ask for a version of miniconda. Although users are free to specify “latest”.

[2022-10-02 00:39] stebo85 commented on #476
Dear @jingwei-li

I haven't seen this error and my first guess is that it could be related to singularity and potentially a lack of permissions. Are you running singularity as root when building?

Can you try building it with docker? If that gives you the same error, you could try to replicate the neurodocker command we are using in www.neurodesk.org:

[code]

If you are just after a singularity c

[2022-10-08 08:13] afonsoguerra commented on #416
I know this is ancient, but if you export the timezone to the environment at the start of %post, it won't ask when installing tzdata during container creation:

e.g.
%post
export TZ='America/New_York'

[2022-10-13 14:42] yyang1234 opened #477 "neurodocker works with M1 apple?"
seems that I get this warning on my M1 apple

what I tried:

[code]

warning:

[code]

the generation of the dockerfile never happens

[2022-10-13 15:14] kaczmarj commented on #477
@yyang1234 - i don't have an M1 mac so can't try myself, but can you run this? (from https://stackoverflow.com/a/68004485/5666087)

[code]

note addition of `--platform linux/amd64`

[2022-10-13 15:18] kaczmarj commented on #474
hi @yidilozdemir - could you give some more information? and does this have to do with neurodocker?

if i understand correctly, here is how i would approach this. copy the local python package into the docker image (use the `COPY` instruction in the dockerfile), and then use `RUN` to install the package. here is some pseudo-code:

[code]

[2022-10-13 15:35] kaczmarj commented on #472
@nichy-consortium - which version of neurodocker are you using?

looks like the problem is with the locale encoding. can you try setting the environment variable LC_ALL to something like `en_US.utf8` ?

so add this to your `docker run`: `-e LC_ALL=en_US.utf8`

if that doesn't work, try these values instead: `C` or `C.utf8` or `en_US`

[2022-10-13 16:55] djarecka commented on #477
Just want to comment that I do have M1 and for me I can run `docker run --rm repronim/neurodocker:latest generate docker` to produce a Dockerfile, I just have the warnings, but the Dockerflie is created.

However, in order to build an image that work for linux/amd64, I have to use `--platform linux/amd64` with the `docker build` command

[2022-10-23 03:16] esalome commented on #416
Installing a (small) package compatible with "dialog" feature with clear the "can't find a dialog-like program" error when installing other packages in an interactive way 👍
`apt install whiptail`

did it for me.

[2022-11-02 09:31] jingwei-li commented on #476
Dear Steffen,

Thanks a lot for your suggestions!
 I'm on an institute cluster. We only have Singularity installed, but not Docker. So, I don't think the option to build with docker is possible.

But the `neurodocker generate docker` command you gave me for replication can generate the dockerfile without any error.

Directly using the singularity container from neurodesk sounds like a good option.

[2022-11-02 10:45] jingwei-li commented on #476
Since the transparent singularity tool doesn't work for me so far, I'm trying to use normal singularity commands on the container. When I run `singularity exec ants_2.3.5_20211212.simg ImageMath -h`, the help information can be printed correctly. But when I want to do some real work, it complains that it can't find the input file:

[code]

It complains:

[code]

But the file indeed exists.

Then I

[2022-11-03 00:59] stebo85 commented on #476
Dear @jingwei-li - Your cluster might not have configured singularity correctly (specifically the singularity bindpaths are not setup as you can see in the second line of the transparent singularity output "Singularity bindpath is: "). You can fix this, by adding this to your .bashrc as described in the transparent singularity documentation (https://www.neurodesk.org/developers/transparent_singula

[2022-11-22 22:34] spurani opened #478 "AFNI docker build fails"
[code]
This command successfully generated the dockerfile
Here is the dockerfile

[code]

`docker build --tag afni:latest --file afni-binaries.Dockerfile .`
This commad fails with the below error
[code]
Can anyone please guide me?

[2022-11-23 00:44] stebo85 commented on #478
Dear @spurani,

It looks like you are facing a bug that was fixed a few weeks ago. The problem was that the AFNI recipe added an empty line and this is causing the && error.

I submitted a pull request to fix this and it was merged:
https://github.com/NeuroDesk/neurodocker/commit/3da4e04b9d3659c0b0381db127fa2dcc86bfd056

Can you check if you are using the latest version of Neurodocker and if this

[2022-11-23 13:24] spurani commented on #478
Hello @stebo85,

Thank you for your quick response. Basically, I installed neurodocker using this command `pip install neurodocker` and my current version is 0.9.1. Earlier, I tried the preferred installation using `docker run --rm repronim/neurodocker:0.7.0 --help` it did not install neurodocker nor it gave any errors or warnings. is this page still active and updated [repronim/neurodocker Tags](

[2022-11-23 13:51] kaczmarj commented on #478
thanks @stebo85 and @spurani. looks like we need to cut a new release and upload to pypi and dockerhub.

@djarecka @satra  - I do not have permissions to upload to repronim/neurodocker on dockerhub. Can you please give me permissions to do this?

[2022-11-23 22:53] stebo85 commented on #478
Dear @spurani,

You should be able to install the latest version of Neurodocker via:
pip install --no-cache-dir https://github.com/repronim/neurodocker/tarball/master

and that should include the fix

Cheers
Steffen

[2022-11-23 23:10] satra commented on #478
@kaczmarj - sent an invite, but also set up automatic building for this repo (we can add version based building as well). we may have to disconnect you as the org has only 5 seats. we do have a service account that we can use.

[2022-11-24 15:08] spurani commented on #478
Hello @stebo85
Here are the steps I followed
1) Uninstalled neurodocker `pip uninstall neurodocker` from my current os environment

2) Fresh install of Neurodocker `pip install --no-cache-dir https://github.com/repronim/neurodocker/tarball/master` and generated the Dockerfile with this command
[code]

[code]

it generated this Dockerfile

[code]

This is the error
[code]

[2022-11-24 15:28] spurani commented on #478
When I am removing `&& \` from line 43
![image](https://user-images.githubusercontent.com/28580888/203819322-d59b1bb0-cb3c-4ae6-941e-fa9381cdb2ac.png)

 here is the error I get

[code]

Debian does not have libjpeg-turbo8-dev and multiarchsupport
https://github.com/ReproNim/neurodocker/issues/419

[2022-11-28 14:34] anandsaini024 commented on #478
Hello,

I am also getting the same error while building afni as described [on official example page](https://www.repronim.org/neurodocker/user_guide/examples.html#:~:text=neurodocker%20generate%20docker%20%5C%0A%20%20%20%20%2D%2Dpkg%2Dmanager%20apt%20%5C%0A%20%20%20%20%2D%2Dbase%2Dimage%20debian%3Abuster%2Dslim%20%5C%0A%20%20%20%20%2D%2Dafni%20method%3Dbinaries%20version%3Dlatest%20%5C%0A%3E%20afn

[2022-11-29 00:37] stebo85 commented on #478
Dear @spurani and @anandsaini024

can you try this:

[code]

and as a base container I found that fedora:36 works best for AFNI.

Here you can find how we build AFNI for the neurodesk project:
https://github.com/NeuroDesk/neurocontainers/tree/master/recipes/afni

You could also directly use the neurodesk AFNI container if you like - then you don't have to build it yourself :)
https://www.neurodesk

[2022-11-29 11:57] tclose opened #479 "Relaxing click dependency to work with >v8.0"
Hi @kaczmarj,

Do you know what would be involved with relaxing the restriction on click<8.0? It is causing dependency conflicts for me and it would be great to be able to resolve it. I might have some time in Dec or Jan to have a look at it if it isn't too big of a fix.

Cheers,

Tom

[2022-11-29 14:27] kaczmarj commented on #479
@tclose - that would be great. i introduced the <8.0 restriction in https://github.com/ReproNim/neurodocker/pull/401/commits/50b22f8c73ef864dd2dffd8876f7add2cbb15330 . here is the commit message:

option --install returns a string with click 8. Before, it would return
a tuple. I do not know why it would be returning a string...

and i confirmed now with click 8.1.3 that this still happens.

the pr